.keyboard .grey {
    background: #a1a1a1;
    border-color: #a1a1a1;
}

.keyboard .yellow {
    background: #e2cc68;
    border-color: #e2cc68;
}

.keyboard .green {
    background: #5ac85a;
    border-color: #5ac85a;
}